<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<a type="button" th:href="@{/students}">Студенты</a>
<a type="button" th:href="@{/students/add}">Добавить студента</a>
<div>
    <div>
        <div>
            <div>
                <h3>Добавить студента</h3>
            </div>
            <form th:action="@{/students/add}"
                  th:object="${newStudent}" method="post">
                <input th:field="*{name}" placeholder="name (*)" type="text"/>
                <input th:field="*{age}" placeholder="age (*)" type="number"/>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>